.mine-box
{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 56px;
  letter-spacing: 0.5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 56px;
  z-index: 1;
  perspective-origin: 28px 28px;
  transform-origin: 28px 28px;
  border-radius: 50% 50% 50% 50%;
  font: bold 15.5px / 54px Roboto, sans-serif;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  background: url("./dot.png");
}


.mine-bomb{
  background: url("./bomb_lost.png");
  border: 0px none  rgb(255, 255, 255);       
  }

.mine-flag{
  background: url("./flag.png");
  border: 0px none  rgb(255, 255, 255);       
  }

.mine-superman
{
  color: rgb(255, 255, 255);
  background: url("./dot3.png");
}

.mine-bomb-superman
{
  background: url("./bomb2.png");
}

.mine-flag-good-superman
{
  color:  rgb(255, 255, 255);
  background: url("./flaggood.png");
}

.mine-flag-bad-superman
{
  color:  rgb(255, 255, 255);
    background: url("./flagbad.png");
}

.mine-click
{
  
  color:  rgb(0, 0, 0);
  background: url("./dot2.png");

}
