.mine-box
{
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 56px;
  text-align: center;
  width: 56px;
  border: 0px none rgb(0, 0, 0);
  border-radius: 50% 50% 50% 50%;
  font: normal 15.5px / 54px Roboto, sans-serif;
  background: url("./dot.png");
}

.mine-bomb{
  background-color: rgb(255, 255, 255);
  background: url("./bomb.png");
  border: 0px none rgb(0, 0, 0);        
  }

.mine-flag{
  background-color: rgb(255, 255, 255);
  background: url("./flag.png");
  border: 0px none rgb(0, 0, 0);        
  }

.mine-green
{
  background-color: #0000ff;
}

.mine-brown
{
  background-color: rgb(230, 230, 230);
}
