<h1 *ngIf="show() && getWon()"> Win </h1>
<h1 *ngIf="show() && getLost()"> Lost </h1>
<h1>
  <form>
  Height:
  <input type="number" [(ngModel)]="height" (change)="onChange()" name="Height" >
  Width:
  <input type="number" [(ngModel)]="width" (change)="onChange()" name="Width" >
  Mines:
  <input type="number" [(ngModel)]="mines" (change)="onChange()" name="Mines" >
  <button value="clickGame" (click) = "restart()" > New Game </button>
<h6>Flags left: {{getFlags()}} </h6> 
</form>
<table *ngIf= "show()" 
    id="mineBackground" [ngStyle]="{'width': (getWidth() * (getHeight() ))}">
        <tr *ngFor="let row of space">
        <td *ngFor="let mineBox of row">
            <app-mine-box [mine]="mineBox.mine" [flag]="mineBox.flag" [revealed]="mineBox.revealed" [danger]="mineBox.danger" (click)="boxClicked($event,mineBox.i, mineBox.j)"></app-mine-box>
        </td>
    </tr>
</table>

</h1>
